
main p{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif, Helvetica;

}

nav{
    background-color:hsl(210, 50%, 50%);
    padding: 15px;


}
.active{
    color:hsl(0,0%,100%);
    font-size: 30px;
    padding-right:15px;
    text-decoration: underline;
    font-family:'Roboto', sans-serif, Helvetica;
    display: inline-block;
    

}

.image-container h1{
font-size: 85px;
font-family:  'Open Sans', sans-serif, Helvetica;
padding-left: 40px;
color: hsl(210,51%,20%);
text-shadow: 2px 2px hsla(0,0%,100%,80%);
font-weight: bolder;
}

.image-container h2{
font-size: 75px;
font-family:  'Open Sans', sans-serif, Helvetica;
padding-left: 40px;
color: hsl(210,33%,72%);
text-shadow: 2px 2px hsla(210,50%,50%,90%);
font-weight: bolder; 

}

nav a{
    color:hsl(0,0%,100%);
    font-size: 30px;
    padding: 40px;
    text-decoration: none;
    font-family:'Roboto', sans-serif, Helvetica;
}


.thin-blue-line{
background-color: hsl(210,51%,20%);
padding: 3px;
}
.main h3{ 
    color: hsl(210, 50%, 60%);
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif, Helvetica;
}
.main h4{
    color: hsl(210, 50%, 60%);
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif, Helvetica;
}

.main li{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif, Helvetica;
    padding: 2px;

}